@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-image: url("./assets/imagens/mosaico.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
  color: #000000;
  margin-bottom: 1rem;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main form{
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
}

.inputfield{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.inputfield input{
  border: none;
  outline: none;
  background: none;
  color: #000000;
  font: 400 1rem Roboto, sans-serif;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  padding: 5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu input{
  text-decoration: none;
  color: #000000;
  font: 400 1rem Roboto, sans-serif;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid #000000;
  border-radius: 5px;
}

.menu input:hover{
  color: #414141;
}

button{
  background: #000000;
  color: #ffffff;
  font: 400 1rem Roboto, sans-serif;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 1rem;
}

button:hover{
  background: #414141;
}

#mensagem{
  color: #ff0000;
  font: 400 1rem Roboto, sans-serif;
}

@media (max-width: 768px) {

  .container{
    flex-direction: column;
  }
}
